.title {
    color: #333;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: x-large;
}
.text {
    color: #777;
}
.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}